body{
  margin:0;
}

body, html {
	height: 100% !important;
	min-height: 100%;
	background-color: #AEB7AE;
  margin:0 !important;
  padding:0;
}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.slide1{
  margin:0;
  padding:0 !important;
  background-color: #AEB7AE;
  width: 100% !important;
  height: 100%;
}

/**** START OF NAVBAR STYLING *****/
.slide1 .navbar{
  margin-top: 20px;
  margin-bottom: 50px;
}

.slide1 .navbar .navbar-nav{
  list-style: none;
  right: 0;
  margin-right: 30px;
}

.slide1 .navbar .navbar-nav li{
  position: relative;
}

.slide1 .navbar .navbar-nav li a{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.85vw;
  font-weight: 500;
  letter-spacing: 4px;
  text-decoration: none;
  text-align: center;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 10px 16px 0;
}

.slide1 .navbar .navbar-nav li a:hover:after, .welcome .navbar .navbar-nav li a:focus:after, .welcome .navbar .navbar-nav li a:active:after {
  width: 100%;
}

.slide1 .navbar .navbar-nav li a:hover{
  background: none;
}

.slide1 .navbar .navbar-nav li .hover:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 2px;
  background: #FFF;
  transition: .35s;
}

.slide1 .navbar .navbar-nav li .active{
  border-bottom: white solid 2px;
  width: 67%;
  padding-right: 0;
  padding-bottom: 0px;
}

/**** END OF NAVBAR STYLING *****/


/***** START OF OVERLAY NAV STYLING ******/
.overlay {
  position: fixed;
  background: #1a1a1a;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s; height .35s;
  z-index: 100;
}

.overlay.open{
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.overlay.open li{
  animation: fadeInRight .5s ease forwards;
  animation-delay: .25s;
}

.overlay.open li:nth-of-type(2){
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(3){
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4){
  animation-delay: .55s;
}

.overlay nav{
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul{
  list-style:none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li{
  display: ;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a{
  display: ;
  position: relative;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/***** END OF OVERLAY NAV STYLING ******/



/***** START OF HAMBURGER STYLING *****/
.hamburger-container{
  position: fixed;
  top: 6.5%;
  right: 8%;
  width: 35px;
  height: 27px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity .25s ease;
}

.hamburger-container:hover {
  opacity: 0.7;
}

  /*** START OF styling the hamburger when it is active (clicked) ***/
.hamburger-container.active .bar1{
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: white;
}

.hamburger-container.active .bar2{
  opacity: 0;
  background: white;
}

.hamburger-container.active .bar3 {
  transform: translateY(-3px) translateX(0) rotate(-45deg);
  background: white;
}
  /*** END OF styling the hamburger when it is active (clicked) ***/

.hamburger-container span{
  background: white;
  border: none;
  height: 2px;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.hamburger-container span:nth-of-type(2) {
  top:7px;
}

.hamburger-container span:nth-of-type(3) {
  top: 14px;
}
/***** END OF HAMBURGER STYLING *****/



/***** START OF CONFIGURATOR STYLING *****/
#configuratorbox{
  background-color: #AFABA2;
  position: absolute;
  margin: 0px;
  height: 750px;
  width: 100%;
  top: 160px;
}


#asian{
  position: absolute;
  top:100px;
  left:100px;
  z-index:1;
}

.choose-model{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  position: relative;
  top: 600px;
  left: 75px
}

.modelbutt:hover{
  opacity: 70%;
}

.choose{
  padding: 0 5px 0;
}

.lash1{
  position: absolute;
  top:100px;
  left:100px;
  z-index:200;
}

.lips{
  position: absolute;
  top:100px;
  left:100px;
  z-index:5;
}
#heading1{
  font-family: "LATO";
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
  position: relative;
  float: left;
  top: 30px;
}

#heading2{
  font-family: "Lato";
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
  position: relative;
  float: left;
  top: 150px;
}

/**** START OF BUTTON STYLING ****/
.buttons{
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 650px;
  height: 570px;
  float:right;
  top:50px;
  right: 70px;
}

button{
  position: relative;
  background-color: transparent;
  border:none;
  outline: none;
  float:left;
}

#mascarabutton{
  position: relative;
  float: left;
  top: 90px;
  left: -150px !important;
}

#mascarabutton h3{
  position: relative;

  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  margin: 0px 0 10px;
}

.lip-buttons{
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  position: relative;
  top: 150px;
  left: -30px;
}

.flex-container button{
  display: inline-block;
  position: relative;
}

.flex-container button h3{
  position:relative;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  margin: 0px 0 10px;
}


#reset{
  position: absolute;
  padding: 16px 24px 16px;
  margin-top: 30px;
  margin-left: 90px;
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Lato";
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  border: 1px solid white;
  top:630px;
  right: 100px;
  float: right;
}

#cart{
  position: absolute;
  padding: 16px 100px 16px;
  margin-top: 30px;
  margin-left: 90px;
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  border: 1px solid white;
  top:630px;
  right: 430px;
  float: right;
}
/**** END OF BUTTON STYLING ****/




/***** END OF CONFIGURATOR STYLING *****/
